 #nav {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 0px solid #ccc;
    border-top: 0px solid #ccc; 
    margin-left: 0px; 

}
#nav li {
   display: inline-block;
   text-align:center; 
}

h2 { font-size: 30px;
	font-family: 'Bodoni Moda', serif;;
	color: #4aa5c2;
	font-weight: bold;
}

h3 { font-size: 30px;
	font-family: 'Bodoni Moda', serif;

}

p {
  font-family: 'Tahoma', serif;
  font-size: 13px;
}

header {
  background: #333;
}

h6 { font-size: 20px;
	font-family: 'Bodoni Moda', serif;
	color: #4aa5c2;
	font-weight: 'bold';
	text-align: center;
}

table { table-layout: fixed;
 }